body {
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/wood-table_F2RHZDPRTQ.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: #dddddd;
    font-family: Cambria, Arial, Helvetica, sans-serif;
    margin: 10% 20%
}

.intro-header {
  border-bottom: 2px solid black;  
}

.exp-header {
  text-align; center;
  text-transform: uppercase;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: rgba(0,0,0,0.1); 
}

.edu-header {
  text-align; center;
  text-transform: uppercase;
  border-top: 2px solid black;
  border-bottom:2px solid black;
  background-color: rgba(0,0,0,0.1);
}

.edu-1 {
  border-bottom: 1px dotted black;
}

.edu-2 {
  border-bottom: 1px dotted black;
}

.edu-3 {
  border-bottom: 1px dotted black;
}
